
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <market1-component></market1-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}